<div ng-controller="TictactoeController">

  <h3>{{gameState.name || 'NoName'}} - {{myTurn()}}</h3>

  <div>
    <a href="{{joinUrl}}">Send this link to your opponent.</a>
  </div>

  <div ng-show="showJoinGame()">
  </div>

  <div class="ticrow" ng-class="{myturn:myTurn()}" ng-repeat="row in gameState.board" ng-init="x=$index">
    <div class="ticcell" ng-repeat="cell in row track by $index" ng-init="y=$index">
      <span ng-click="placeMove([x,y])">{{x}}, {{y}} = {{cell}}</span>
    </div>
  </div>

  <pre>{{gameState | json}}}</pre>
</div>
